@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Commissioner", sans-serif;
    font-size: 0.875rem;
    @apply bg-off-white lg:text-base;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  p {
    @apply text-dark-gray;
  }
}

@layer components {
  .btn {
    @apply rounded-3xl bg-moderate-cyan text-white transition hover:bg-dark-cyan;
  }
  .section {
    @apply rounded-lg border-[0.1px] border-x-gray-300 bg-white;
  }

  .flexed-progress {
    @apply relative flex flex-col gap-[0.1rem] lg:items-start lg:gap-3 lg:text-[0.95rem];
  }

  .wrapper {
    @apply relative pb-5 lg:flex lg:pb-0;
  }

  .big-black {
    @apply text-[2.02rem] text-black;
  }

  /* Modal Styles */

  .modal {
    @apply left-0 right-0 z-30 mx-auto max-w-[20.5rem] rounded-lg bg-white px-6 leading-6
     md:px-12 md:leading-[1.53rem];
  }

  .pledge {
    @apply rounded-lg;
  }

  .selected {
    @apply border-[1.8px] border-moderate-cyan;
  }

  .not-selected {
    @apply border border-gray-400;
  }

  .not-selected:hover h3 {
    @apply text-moderate-cyan;
  }

  .md-modal-text {
    @apply md:pl-12  md:text-[.941rem];
  }

  .filter-close:hover {
    filter: brightness(0) saturate(100%) invert(23%) sepia(36%) saturate(5982%) hue-rotate(158deg) brightness(89%)
      contrast(91%);
  }
  /* Inputs */

  .custom-radio {
    @apply flex h-6 w-6 items-center justify-center rounded-full border border-gray-300;
  }

  .checkmark {
    display: none;
    width: calc(100% - 11.5px);
    height: calc(100% - 11.5px);
    @apply rounded-full bg-moderate-cyan;
  }

  .custom-radio input:checked + .checkmark {
    display: inline-block;
  }
  .dollar::before {
    content: "$";
    position: absolute;
    top: -3px;
    left: 1rem;
    @apply text-dark-gray;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
